.App {
  max-width: 1200px;
  margin: 0 auto;
}

.h-33 {
  height: 33.333%;
}

.h-66 {
  height: 66.666%;
}

header {
  /* height: 640px; */
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-template-rows: repeat(3, 240px);
  grid-gap: 24px;
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px dotted #ddd;
}

.outline {
  outline: 2px solid;
}


/* ------- 1 ------- */
.desc-tile {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.house-tile {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.ocean-tile {
  grid-column: 3 / 5;
}

.mtn-tile {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.desert-tile {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.city-tile {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}


/* ------- 2 ------- */
/* .desc-tile {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}

.house-tile {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.ocean-tile {
  grid-column: 3 / 5;
}

.mtn-tile {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.desert-tile {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.city-tile {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
} */


/* ------- 3 ------- */
/* .desc-tile {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.house-tile {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.ocean-tile {
  grid-column: 3 / 5;
}

.mtn-tile {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.desert-tile {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.city-tile {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
} */


/* ------- 4 ------- */
/* .desc-tile {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.house-tile {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.ocean-tile {
  grid-column: 1 / 3;
}

.mtn-tile {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.desert-tile {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.city-tile {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
} */
