.App {
  max-width: 1200px;
  margin: 0 auto;
}

.h-33 {
  height: 33.333%;
}

.h-66 {
  height: 66.666%;
}

header {
  /* height: 640px; */
  display: grid;
  grid-gap: 24px;
  /* grid-gap: 2px; */
}

header.work {
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-template-rows: repeat(3, 240px);
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px dotted #ddd;
}

.outline {
  outline: 2px solid;
}


/* ------- home ------- */
header.home {
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-template-rows: repeat(3, 240px);
}

.home .desc-tile {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.home .house-tile {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.home .ocean-tile {
  grid-column: 3 / 5;
}

.home .mtn-tile {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.home .desert-tile {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.home .city-tile {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}



/* ------- about ------- */

header.about {
  grid-template-columns: repeat(6, 120px);
  grid-template-rows: repeat(4, 120px);
}

.about .desc-tile {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
}

.about .detail-tile {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
}

.about .desert-tile {
  grid-column: 5 / 8;
  grid-row: 1 / 5;
}

.about .city-tile {
  grid-column: 6 / 8;
  grid-row: 1 / 2;
}

.about .ocean-tile {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}


/* ------- work ------- */

header.work {
  grid-template-columns: repeat(6, 120px);
  grid-template-rows: repeat(3, 120px);
}

.work .desc-tile {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

.work .detail-tile {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
}

.work .mtn-tile {
  grid-column: 5 / 8;
  grid-row: 1 / 3;
}

.work .city-tile {
  grid-column: 6 / 8;
  grid-row: 3 / 4;
}

.work .ocean-tile {
  grid-column: 4 / 5;
  grid-row: 4 / 4;
}







/* ------- 2 ------- */
/* .desc-tile {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}

.house-tile {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.ocean-tile {
  grid-column: 3 / 5;
}

.mtn-tile {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.desert-tile {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.city-tile {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
} */


/* ------- 3 ------- */
/* .desc-tile {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.house-tile {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.ocean-tile {
  grid-column: 3 / 5;
}

.mtn-tile {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.desert-tile {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.city-tile {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
} */


/* ------- 4 ------- */
/* .desc-tile {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.house-tile {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.ocean-tile {
  grid-column: 1 / 3;
}

.mtn-tile {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.desert-tile {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.city-tile {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
} */
